<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vorsk.crossfitr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".CrossFitrActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".WorkoutsActivity"
			android:label="@string/list_of_workout_title" >
		</activity>
		<activity android:name=".AllWorkoutsActivity"
			android:label="@string/all_label" >
		</activity>
		<activity android:name=".WodActivity"
			android:label="@string/wod_label" />
		<activity android:name=".GirlsActivity"
			android:label="@string/girl_label" />
		<activity android:name=".HeroesActivity"
			android:label="@string/hero_label" />
		<activity android:name=".CustomActivity"
			android:label="@string/custom_label" />
		<activity android:name=".WorkoutProfileActivity"
		    android:label="@string/workout_name" />
		<activity android:name=".UserProfileActivity"
		    android:label="@string/user_label" />
		<activity android:name=".EditUserProfileActivity"
		    android:label="@string/edit_profile_label" />
		<activity android:name=".AddCustomActivity"
		    android:label="@string/add_custom_add" 
		    android:windowSoftInputMode="stateVisible|adjustResize"/>
		<activity android:name=".TimerTabWidget"
		    android:label="@string/timer_tab_label" />
		<activity android:name=".TimerActivity"
		    android:label="@string/timer_label" />
		<activity android:name=".StopWatchActivity"
		    android:label="@string/stopwatch_label" />
		<activity android:name=".TabataActivity"
		    android:label="@string/tabata_label" />

     <activity android:name=".CalendarActivity"
        android:label="@string/Cmain"/>
     <activity android:name=".CalendarListActivity"
        android:label="@string/CList"/>
    </application>
</manifest>
